body {
    background: url("./images/bg-pattern-desktop.svg");
    font-family: Josefin Sans;
    font-size: 16px;
    margin: 0;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.details {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.hero-img {
    width: 40%;
    height: 100%;
    background-image: url("./images/hero-desktop.jpg");
}

.details-item {
    color: hsl(0, 36%, 70%);
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.heading {
    font-size: 4em;
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 1.1;
    margin: 0;
}

.heading span {
    color: hsl(0, 6%, 24%);
    font-weight: 600;
}

.details-summary {
    line-height: 1.5;
    padding-right: 20px;
}

.email-section {
    display: inline-flex;
    width: 120%;
}

.email-input {
    color: hsl(0, 36%, 70%);
    width: 100%;
    padding: 15px 10px 10px 40px;
    border-radius: 50px;
    border: 1px solid hsl(0, 36%, 70%);
    font-family: Josefin Sans;
    font-size: 18px;
}

#submit-email {
    padding: 18px 30px;
    position: relative;
    z-index: 1;
    border-radius: 50px;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%),hsl(0, 74%, 74%));
    border: 1px solid hsl(0, 36%, 70%);
    border-left: none;
    width: 25%;
    right: 16%;
    box-shadow: 5px 15px 20px hsl(0, 80%, 86%);
}

#submit-email:hover {
    background-image: linear-gradient(135deg, hsl(0, 86%, 97%), hsl(0, 76%, 90%));
    border: none;
}

.error-alert {
    display: none;
    color: hsl(0, 93%, 68%);
    margin: 5px 40px;
}

.error-icon {
    position: relative;
    right: 17%;
    height: 25px;
    padding: 18px 0px;
    display: none;
}

.alert-border {
    border: solid 2px hsl(0, 93%, 68%);
    color: hsl(0, 6%, 24%);
}