body {
    background: url("./images/bg-pattern-desktop.svg");
    font-family: Josefin Sans;
    font-size: 16px;
    margin: 0;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.details {
    width: 100%;
    height: 100%;
    display: grid;
    grid: 30vh 70vh / 60vw 40vw;
    align-items: center;
}

.logo-img {
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
    width: 50%;
}

.hero-img {
    grid-column: 2;
    grid-row: 1 / span 2 ;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
}

.hero-img img {
    float: right;
    height: 100%;
    width: 95%;
}

.details-item {
    justify-self: center;
    grid-row: 2 ;
    grid-column: 1;
    color: hsl(0, 36%, 70%);
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    align-self: start;
}

.heading {
    font-size: 4em;
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 1.1;
    margin: 0;
}

.heading span {
    color: hsl(0, 6%, 24%);
    font-weight: 600;
}

.details-summary {
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.email-section {
    display: inline-flex;
    width: 120%;
}

.email-input {
    color: hsl(0, 36%, 70%);
    width: 100%;
    padding: 15px 10px 10px 40px;
    border-radius: 50px;
    border: 1px solid hsl(0, 36%, 70%);
    font-family: Josefin Sans;
    font-size: 18px;
}

#submit-email {
    padding: 18px 30px;
    position: relative;
    z-index: 1;
    border-radius: 50px;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%),hsl(0, 74%, 74%));
    border: 1px solid hsl(0, 36%, 70%);
    border-left: none;
    width: 25%;
    right: 16%;
    box-shadow: 5px 15px 20px hsl(0, 80%, 86%);
}

#submit-email:hover {
    background-image: linear-gradient(135deg, hsl(0, 86%, 97%), hsl(0, 76%, 90%));
    border: none;
}

.error-alert {
    display: none;
    color: hsl(0, 93%, 68%);
    margin: 5px 40px;
}

.error-icon {
    position: relative;
    right: 17%;
    height: 25px;
    padding: 18px 0px;
    display: none;
}

.alert-border {
    border: solid 2px hsl(0, 93%, 68%);
    color: hsl(0, 6%, 24%);
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .details {
        grid: 30vh 70vh / 50vw 50vw;
    }

    .details-item {
        width: 75%;
    }

    .logo-img {
        width: 74%;
    }

    .details-summary {
        padding-right: 10px;
    }
}

@media (min-width: 650px) and (max-width: 1024px) {
    .details {
        grid: 30vh 70vh / 50vw 50vw;
    }

    .details-item, .logo-img {
        width: 80%;
    }

    .heading {
        font-size: 3em;
    }

    .error-icon {
        width: 20px;
        height: 20px;
    }
}

@media (min-width: 426px) and (max-width: 650px) {
    main {
        height: 125vh;
        justify-content: center;
        align-items: center;
    }

    .details {
        grid: 10% 30% 60% / 100%;
        width: 70%;
    }

    .logo-img {
        grid-row: 1;
        justify-self: start;
        box-sizing: border-box;
        padding: 10px 30px;
    }

    .hero-img {
        grid-column: 1;
        grid-row: 2;
        height: 100%;
        max-height: 100%;
    }   

    .hero-img img {
        height: 100%;
        width: 100%;
        content: url("./images/hero-mobile.jpg");
    }

    .details-item {
        grid-row: 3;
        width: 85%;
        align-self: center;
        height: 70%;
        text-align: center;
        align-items: center;
    }

    .heading {
        font-size: 3em;
    }

    .email-input {
        position: relative;
        left: 10%;
        padding: 10px 30px;
    }

    #submit-email {
        right: 10%;
        padding: 10px 20px;
    }

    .error-icon {
        padding: 10px 0px;
        right: 11%;
    }
}

@media (max-width: 426px) {
    main {
        height: 150vh;
    }

    .details {
        grid: 10% 30% 60% / 100%;
    }

    .logo-img {
        grid-row: 1;
        justify-self: start;
        box-sizing: border-box;
        padding: 10px 30px;
    }

    .hero-img {
        grid-column: 1;
        grid-row: 2;
        height: 100%;
        max-height: 100%;
    }   

    .hero-img img {
        height: 100%;
        width: 100%;
        content: url("./images/hero-mobile.jpg");
    }

    .details-item {
        grid-row: 3;
        width: 85%;
        align-self: center;
        height: 70%;
        text-align: center;
        align-items: center;
    }

    .heading {
        font-size: 3em;
    }

    .email-input {
        position: relative;
        left: 10%;
        padding: 10px 30px;
    }

    #submit-email {
        right: 10%;
        padding: 10px 20px;
    }

    .error-icon {
        padding: 10px 0px;
        right: 11%;
    }
}


